<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultado IMC</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Resultado del IMC</h1>
  <p>Nombre: <%= usuario.nombre %></p>
  <p>Peso: <%= usuario.peso %> kg</p>
  <p>Altura: <%= usuario.altura %> metros</p>
  <p>Tu IMC es: <%= imc %></p>
</body>
</html>
